{:paths   ["src/main" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           commons-io/commons-io {:mvn/version "2.6"}
           org.clojure/core.match {:mvn/version "1.0.0"}
           org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
           org.clojure/tools.cli {:mvn/version "1.0.194"}
           quil {:mvn/version "3.1.0"}}
 :aliases {:uberjar  {:extra-deps {uberdeps {:mvn/version "0.1.4"}}
                      :main-opts  ["-m" "uberdeps.uberjar" "--target" "target/chihaya-0.1.0.jar"]}}}
